@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-inline: auto;
}
.btn {
  @apply transition-all duration-350 px-3 py-2 rounded-md cursor-pointer;
}
@layer base {
  * {
    @apply transition-colors duration-400;
  }
}
